body {
    margin: 0;

    background-color: #ececec;
}

#chat-body {
    overflow: hidden;
}

main:not(#chat-main) {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 60px);
}

.klakku-nav, .recipient-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 15px 30px;
}

.klakku-nav {
    background-color: #455b66;
}
.recipient-nav {
    background-color: #2a2f31;
}
.klakku-nav div {
    display: flex;
    gap: 20px;
}
.klakku-nav a, .recipient-nav a {
    color: white;
    text-decoration: none;
}

.klakku-nav a:not(.logo):hover {
    text-decoration: underline;
    text-decoration-thickness: 1px;
}

.register-form {
    display: flex;

    flex-direction: column;
    align-items: center;

    gap: 40px;
}

.password-field{
    position: relative;
    width: 300px;
    box-sizing: border-box;
}

input {
    width: 100%;
    height: 35px;
    box-sizing: border-box;

    border-radius: 6px;

    padding-right: 45px;

    border-top: solid 1px #cdbcbc;
    border-left: solid 1px #aaa9a9;
    border-right: solid 1px #6b6b6b;
    border-bottom: solid 1px #666666;

}

input:focus {
    outline: 1px solid #4c8aa8;
    border: 1px solid #4c8aa8;
}

.password-field .toggle-password {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);

    background: none;
    border: none;

    color:#a0a0a0;
    font-size: 25px;

    cursor: pointer;
    transition: color 0.2s ease;
}

.password-field .toggle-password:hover {
    color: #797979;
}

.register-form .submit-button {
    background-color: #436d83;
    color: #EEEEEE;
    width: 200px;
    height: 50px;

    border-radius: 6px;

    border-top: solid 1px #cdbcbc;
    border-left: solid 1px #aaa9a9;
    border-right: solid 1px #6b6b6b;
    border-bottom: solid 1px #666666;

    transition: background-color 0.2s ease;
}

.register-form .submit-button:hover {
    background-color: #324f5e;
}

.register-form .submit-button:active {
    background-color: #002436;
}


.error-main {
    display: flex;

    align-items: center;

    flex-direction: column;

}

.error-main h1{
    font-size: 50px;
    margin: 0px;

    transition:
        transform 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55),
        color 0.25s ease;
}

.error-main h1:hover{
    color: #CC0000;
    transform: rotate(15deg);
    transform-origin: center;
}

.error-main p{
    font-size: 30px;
}

.error-main a{
    color: #111111;
    font-size: 25px;
    text-decoration: underline;

    transition: color 0.2s ease;

}

.error-main a:hover{
    color: #2c6a8a;
}


.link-button {
    background-color: #002436;

    text-decoration: none;
    color: #EEEEEE;
    font-size: 20px;

    padding: 20px;
    border-radius: 4px;

    transition: background-color 0.2s ease;
}

.link-button:hover {
    background-color: #104f6e;
}

.k-button {
    background-color: #002436;

    text-decoration: none;
    color: #EEEEEE;
    font-size: 20px;

    padding: 20px;
    border-radius: 4px;

    border: none;

    transition: 
        background-color 0.25s ease,
        transform 0.1s ease;
}

.k-button:hover {
    background-color: #104f6e;

    transform: scale(1.04);

    cursor: pointer;
}

.k-button:active {
    background-color: #2b8ab9;

    transform: scale(0.96);
}   

#close-dialog-button {
    background-color: transparent;
    color: #3b3b3b;
    border: 1px dashed #bebebe;
}

/* #close-dialog-button:hover {
    background-color: #6e6e6e;
}

#close-dialog-button:active {
    background-color: #acacac;
} */

#create-chat-dialog {
    width: 500px;
    height: 300px;
    border: none;
    border-radius: 10px;

    opacity: 1;
    transform: scale(1);

    box-shadow: 5px 4px 30px #09054193;

    transition:
        opacity 0.3s ease 0.1s,
        transform 0.4s ease 0.1s;

    
}

@starting-style {
    #create-chat-dialog[open] {
        opacity: 0;
        transform: scale(0.96);
    }

    #create-chat-dialog[open]::backdrop {
        background: rgba(0, 0, 0, 0);
    }
}

#create-chat-dialog::backdrop {
    background: #011d2b99;
    backdrop-filter: blur(5px);
    transition:
        background 0.3s ease,
        overlay 0.3s ease allow-discrete;
}


#create-chat-dialog form{
    display: flex;
    flex-direction: column;

    gap: 20px;
}


#recipient-info {
    position: sticky;
    top: 0;
    z-index: 10;
}



#chat-main {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.messages {
    display: flex;
    flex-direction: column;
    gap: 8px;

    overflow-y: auto;
    min-height: 0;

    flex: 1;
}

.sent-message, .received-message {
    margin: 20px;
    max-width: 60%;
    padding: 8px 12px;
    border-radius: 8px;

    color: #111111;

}

.sent-message {
    align-self: flex-end;
    background-color: #82c4e5;

}

.received-message {
    align-self: flex-start;
    background-color: #96a0a5;
}

.sent-message span, .received-message span {
    font-size: 0.75rem;
}

#no-messages-div {
    position: absolute;
    inset: 0; /* Controla left, top, right e bottom todos ao mesmo tempo */
    display: flex;
    justify-content: center;
    align-items: center;

    pointer-events: none;
}

#no-messages-div p {
    font-size: 40px;
    text-align: center;


    pointer-events: auto;

    transition:
        transform 0.2s ease,
        color 0.2s ease;


    
}

#no-messages-div p:hover{
    transform: scale(1.04);

    color: #002436;

    cursor: default;
}

.chat-controls {
    min-height: 130px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    gap: 8px;
    padding: 10px;
}

#message-input {
    flex: 1;

    border-width: 2px;
    border-color: transparent;

    box-shadow: 5px 5px 15px #09054193;
    border-radius: 10px;

    transition: border-color 0.2s ease;

    padding: 12px 15px;

    font-size: 18px;
}

#message-input {
    flex: 1;

    border-width: 2px;
    border-color: transparent;

    box-shadow: 5px 5px 15px #09054193;
    border-radius: 10px;

    transition: border-color 0.2s ease;

    resize: none;


}
#message-input:focus {
    border-color: #002436;

    outline: none;

}

#send-message-button {
    min-width: 90px;
    font-size: 16px;
    border-radius: 15px;
}
