{% extends "base.html" %}

{% block title %}

    Chats
    
{% endblock %}

{% block main %}
    <div class="chats-page-container">
        <div class="chats-list">
            {% for conversation_id, username in conversations %}
                <a href="/chat/{{ username }}" class="chat-item">
                    @{{ username }}
                </a>
            {% endfor %}
        </div>

        <button class="k-button" id="open-dialog-button">
            + Create Chat
        </button>

        <dialog id="create-chat-dialog">
            <form method="post" action="/chats">
                <h2>New Chat</h2>

                <input
                    type="text"
                    id="username"
                    name="username"
                    placeholder="Username"
                    autofocus
                    autocomplete="off"
                >

                <button type="submit" class="k-button">Create</button>
                <button type="button" id="close-dialog-button" class="k-button">Cancel</button>
            </form>
        </dialog>
    </div>
{% endblock %}